@import "tailwindcss";

#hero-img {
  background: url("../public/gero-bg.avif");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

.upper {
  background: linear-gradient(
    105deg,
    rgba(110, 142, 251, 1),
    rgb(75, 66, 250)
  );
}

.lower {
  background: rgb(57, 52, 147);
}
