@import "tailwindcss";

#hero-img, #not-found-page {
  background: url("./gero-bg.avif");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-color: rgb(54, 92, 214); */
}

#showcase-tiles {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}